DATABASE_URL="postgresql://admin:dbPassAdmin@superposition_db:5432/superposition?schema=public"

JWT_SECRET="TU-JSON-WEB-TOKEN-SECRET"

CLOUDINARY_NAME=superposition-chat-files
CLOUDINARY_KEY=your-api-key
CLOUDINARY_SECRET=your-api-secret