DATABASE_URL="postgresql://admin:dbPassAdmin@superposition_db:5432/superposition?schema=public"

JWT_SECRET="TU-JSON-WEB-TOKEN-SECRET"

POSTGRES_USER=admin
POSTGRES_PASSWORD=dbPassAdmin
POSTGRES_DB=superposition